
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Staatliches&display=swap');



body{
    background-attachment: scroll;
    background-color: rgba(53, 226, 125, 0.568);
   
}
header{
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    background-image: linear-gradient(to bottom,rgb(15, 128, 34),rgb(25, 77, 34));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
}

header > h1{
    
    color: white;
    
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.267);

} 

header > p{
    
    
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    
    margin-bottom: 30PX;
    text-shadow:  2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
    text-align: left;
    background-color: rgb(25, 77, 34);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(250, 250, 250, 0.192);
}

nav > a {
    color: rgb(255, 255, 255);
    
    text-shadow:  2px 2px 0px rgba(0, 0, 0, 0.315);
    padding: 10px;
    
    margin: auto;
    box-shadow: 0px 7px 7px rgb(25, 77, 34);
}
main {
    background-color: azure;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 600px;
    padding-top: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin:auto;
    
    margin-bottom: 30PX;
    text-shadow:  2px 2px 0px rgba(168, 167, 167, 0.315);
}

article > h1{
    
    color: rgb(25, 77, 34);
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.267);
}
article > h2{
    
    color: rgb(25, 77, 34);
    background-color: rgba(53, 226, 125, 0.568);
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.267);
}

article > p{
    
    color: rgb(0, 0, 0);
    text-align: justify;
    text-indent: 30px;
}

.basico {
    color: black;
}

